
<div class="container-fluid">
    <div class="jumbo container-fluid mt-3">
        <div class="right food"></div>
        <h2>Welcome to M<span class="text-success">&</span>J Recipes!</h2>
        <p>We hope you will find many recipes that suit your fancy.</p>
    </div>

    <div class="recipe_cards container-fluid">
        {{#each model as |recipe|}}
            <div class="card shadow-sm mb-5 bg-body" style="width: 20rem;">
                <img class="card-img-top" src={{recipe.image}} alt="{{recipe.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
                    <a href={{recipe.link}}>Read More</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>